.nav {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  margin-left: 3.5rem;
  font-weight: 800;
  font-size: 30px;
}

.nav__list {
  display: flex;
  margin: 2.5rem;
}

.nav__list li {
  list-style: none;
}

.nav a {
  text-transform: uppercase;
  text-decoration: none;
}

.icons {
  display: none;
}

.nav__item {
  padding: 0 2rem 0 2rem;
}
