.header {
  /* height: 30%; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0a0b0b;
}

.header-bg {
  background-color: #0a0b0b;
  color: white;
}

.nav__logo {
  margin-left: 3.5rem;
  font-weight: 800;
  font-size: 30px;
}

.nav__list {
  display: flex;
  margin: 2.5rem;
}

.nav__list li {
  list-style: none;
}

.header a {
  text-transform: uppercase;
  text-decoration: none;
}

/* .header a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid #0b3096;
} */

.icons {
  display: none;
}

.nav__item {
  padding: 0 2rem 0 2rem;
}

.nav__link {
  cursor: pointer;
}

.header .nav__item a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.header-bg .nav__item a:hover {
  padding-bottom: 10px;
  border-bottom: 3px solid white;
}

.btn-nav {
}
